version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "8000:8000"
    volumes:
      - ./:/app:cached
    networks:
      - app-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    profiles:
      - dev

  app_prod:
    image: ${IMAGE_NAME:-webpronest-backend}:${TAG:-latest}
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - .env
    ports:
      - "127.0.0.1:8000:8000"
    networks:
      - app-network
    extra_hosts:
      - "host.docker.internal:host-gateway"
    profiles:
      - prod

volumes:
  db_data: {}

networks:
  app-network:
    name: webpronest-network
    driver: bridge
